.signup-form {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(5rem,1fr) 2fr minmax(5rem,1fr);
    grid-template-rows: repeat(2,min-content) 1fr;
    row-gap: 1.5rem;
}

.nav-header-sign_up {
    grid-column: 1/4;
    grid-row: 1/2;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
    padding: 2rem 0;
}

.form-container {
    grid-column: 2/3;
    grid-row: 2/3;
}

h3{
    padding-left:30px;
    padding-right: 20px;
    font-weight: 700;
    }